@"
node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
build/
.gradle/
android/app/build/
ios/Pods/
"@ | Out-File -Encoding utf8 .gitignore

# 3. Inicializa git si no lo has hecho
git init
git add .
git commit -m "Initial commit"